mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className)
  img(src=require(`images/${path}`) class=className)

mixin menu(modif)
  nav.menu(class=`menu--${modif}`)
    - var items = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
    ul.menu__list
      each item in items
        li.menu__item
          a.menu__link #{item}

mixin socials(modif)
  ul.socials(class=`socials--${modif}`)
    each item in icons
      li.socials__item
        a(href="").socials__link
          +icon(item, "socials__icon")